@import "tailwindcss";

@theme {
  --color-pastel-blue: #C6DCE4;
  --color-pastel-blue-light: #DAEAF1;
  --color-pastel-pink: #F2D1D1;
  --color-pastel-pink-light: #FFE6E6;
  --font-dokdo: var(--font-dokdo);
  --font-dongle: var(--font-dongle);
}